ion-tab-bar{
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  --background: #48319d;
  // --background: linear-gradient(90deg, rgba(117,130,244,1) 50%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
}
ion-tab-button{
  --color:white
}