<ion-toolbar>
  <ion-buttons slot="start" routerLink="/home/main">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>{{searchValue}}</ion-title>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate" color="tertiary"></ion-progress-bar>
</ion-toolbar>
<div class="container mt-3">
 

  <!-- City Detail -->

  <div class="widget-data mt-5 mx-3" *ngIf="searchWeatherData">
    <img src="./assets/images/widget.png">
    <img class="weather-icon" [src]="weatherIcon">
    <!-- <img class="weather-icon" src="./assets/images/weather/mcr.png"> -->
    <div class="temp-container">
      <p class="degree-symbol">
        <ion-icon name="ellipse-outline"></ion-icon>
      </p>
      <p class="main-temp">
        {{searchWeatherData.main.temp | kelvinCenti | number: '1.0-0'}}
      </p>

      <span class="secondary-temp w-100">
        <p>
          H: {{searchWeatherData.main.temp_max | kelvinCenti | number: '1.0-0'}} <ion-icon class="sm-degree-symbol mb-1" name="ellipse-outline"></ion-icon>
          L: {{searchWeatherData.main.temp_min | kelvinCenti | number: '1.0-0'}}  <ion-icon class="sm-degree-symbol mb-1" name="ellipse-outline"></ion-icon>
        </p>
      </span>
      
    </div>

    <div class="row city-detail">
      <div class="col-6">
        {{searchWeatherData.name}}
      </div>
      <div class="col-6">
        {{searchWeatherData.weather[0].main}}
      </div>
    </div>

    

    
  </div>

  <!-- <div class="mt-2 mx-3" *ngIf="searchWeatherData">
    <ion-button class="w-100" color="tertiary" shape="round" (click)="addToList()">Add to list</ion-button>
  </div> -->
</div>
